*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#user{
    width: 35px;
    border-radius: 50px;
}
#hero{
    width: 100%;
    
}
div.colore{
    background-color: #6f57f5 !important;
}
#titolo{
    font-size: 3em;
    font-weight: 600;
}
button.color{
    background-color: #5fc89b !important;
}
ion-icon.icone {
    font-size: 1.4em;
    background-color: #fceedc;
    border-radius: 50%;
    padding: 15px;
    color: #b07200;
}
